@font-face {
  font-family: PTRootUI;
  font-display: swap;
  src: url("../fonts/PTRootUI-Bold.woff2") format("woff2"), url("../fonts/PTRootUI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: PTRootUI;
  font-display: swap;
  src: url("../fonts/PTRootUI-Light.woff2") format("woff2"), url("../fonts/PTRootUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: PTRootUI;
  font-display: swap;
  src: url("../fonts/PTRootUI-Medium.woff2") format("woff2"), url("../fonts/PTRootUI-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: PTRootUI;
  font-display: swap;
  src: url("../fonts/PTRootUI-Regular.woff2") format("woff2"), url("../fonts/PTRootUI-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #333333;
  font-family: "PTRootUI";
}
body button, body select, body input {
  font-family: "PTRootUI";
  background-color: transparent;
}

._conteiner {
  max-width: 1743px;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: calc(21px + 8 * (100vw - 360px) / 1560);
  line-height: 127%;
  margin-right: 10px;
}

.order-page {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.order-page__body {
  flex: 1 1 auto;
  padding: 0 16px;
}
.order-page__title {
  padding: calc(40px + 8 * (100vw - 360px) / 1560) 15px 0 calc(20px + 23 * (100vw - 900px) / 1020);
  max-width: 1743px;
  width: 100%;
  margin: 0 auto;
}
.order-page__title h1 {
  font-weight: 700;
  font-size: calc(27px + 8 * (100vw - 360px) / 1560);
  line-height: 122%;
}
.order-page__conteiner {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.order-page__items {
  border-radius: 4px 4px 0 0px;
  display: flex;
  background-color: #fff;
  flex: 1 1 auto;
  margin-top: calc(16px + 3 * (100vw - 360px) / 1560);
}
.order-page__choice {
  flex: 1 1 1117px;
  min-width: 0px;
  padding-right: calc(20px + 62 * (100vw - 900px) / 1020);
  padding-left: calc(20px + 23 * (100vw - 900px) / 1020);
  border-top: 1px solid #C5C5C5;
  border-left: 1px solid #C5C5C5;
}
.order-page__choice, .order-page__info {
  padding-top: calc(24px + 16 * (100vw - 320px) / 1600);
}

@media (max-width: 900px) {
  .order-page__choice {
    padding: calc(24px + 16 * (100vw - 320px) / 1600) 16px 0;
  }
  .order-page__title {
    padding: calc(40px + 8 * (100vw - 360px) / 1560) 16px 0 16px;
  }
}
.delivery__title {
  display: flex;
  justify-content: space-between;
}
.delivery__swiper {
  margin-top: calc(8px + 6 * (100vw - 360px) / 1560);
  width: 100%;
}

.arrow-deliv {
  display: flex;
}
.arrow-deliv__prev, .arrow-deliv__next {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.arrow-deliv__next {
  transform: rotate(180deg);
  margin-left: 4px;
}
.arrow-deliv__prev-slick-disabled, .arrow-deliv__next-slick-disabled {
  opacity: 0.5;
}

.inp-hide {
  width: 0px;
  height: 0px;
  position: absolute;
}

._card-appearance {
  padding: 20px 20px;
  background-color: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  cursor: pointer;
}
._card-appearance:hover, ._card-appearance.active {
  border: 2px solid #065CC2;
  border-radius: 4px;
  padding: 19px;
}

.swiper-slide {
  height: auto !important;
}

.swiper-deliv__wrapper {
  display: flex;
}
.swiper-deliv__body {
  display: flex;
  align-items: center;
}
.swiper-deliv__item {
  flex: 1 1 auto;
  margin-right: 5px;
}
.swiper-deliv__name {
  letter-spacing: 0.13px;
  font-weight: 700;
  font-size: calc(17px + 5 * (100vw - 360px) / 1560);
  line-height: 125%;
}
.swiper-deliv__adres {
  color: #1A1A1A;
  font-weight: 400;
  font-size: calc(14px + 8 * (100vw - 360px) / 1560);
  line-height: 125%;
}
.swiper-deliv__price {
  font-weight: 400;
  font-size: calc(17px + 5 * (100vw - 360px) / 1560);
  line-height: 125%;
  letter-spacing: 0.13px;
  flex: 1 0 70px;
  white-space: nowrap;
  text-align: right;
}
.swiper-deliv__price_hide {
  display: none;
}

._button {
  font-weight: 400;
  font-size: calc(17px + 5 * (100vw - 360px) / 1560);
  line-height: 127%;
  color: #065CC2;
  width: fit-content;
  display: block;
  margin-top: calc(10px + 4 * (100vw - 360px) / 1560);
  background-color: transparent;
}
._button:hover {
  opacity: 0.6;
}

button:focus {
  opacity: 0.5;
}

@media (max-width: 360px) {
  .delivery__arrow {
    display: none;
  }
  ._card-appearance {
    padding: 16px 19px;
  }
  ._card-appearance:hover, ._card-appearance.active {
    padding: 15px 18px !important;
  }
  .delivery {
    margin: 0 -16px 0;
    padding-left: 16px;
  }
  .swiper-deliv__name {
    letter-spacing: normal;
  }
  .swiper-deliv__price {
    display: none;
  }
  .swiper-deliv__price_hide {
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 123%;
  }
}
.date-choice__body {
  display: flex;
  align-items: center;
  margin-top: calc(12px + 8 * (100vw - 360px) / 1560);
}
.date-choice__body_hide {
  display: none;
}
.date-choice__item {
  margin-right: 14px;
  margin-top: 10px;
  min-width: 226px;
}
.date-choice__name, .date-choice__time {
  font-size: 22px;
  line-height: 123%;
  letter-spacing: 0.13px;
}
.date-choice__name {
  font-size: calc(17px + 5 * (100vw - 360px) / 1560);
}
.date-choice__time {
  font-size: calc(14px + 8 * (100vw - 360px) / 1560);
}
.date-choice__name {
  font-weight: 700;
}
.date-choice__time {
  font-weight: 400;
}
.date-choice__button {
  margin-top: calc(10px + 18 * (100vw - 360px) / 1560);
  margin-left: 16px;
  margin-bottom: 10px;
}

.date-choice__button_hide {
  display: none;
}

@media (max-width: 1400px) {
  .date-choice__body {
    flex-wrap: wrap;
  }
  .date-choice__body button {
    margin-left: 0;
    flex: 1 1 100%;
    text-align: left;
    margin-top: calc(10px + 2 * (100vw - 360px) / 1560);
  }
}
@media (max-width: 360px) {
  .date-choice__button_hide {
    display: block;
  }
  .date-choice__body {
    display: none;
  }
  .date-choice__body_hide {
    display: flex;
  }
  .date-choice__body_hide .date-choice__item {
    min-width: 117px;
    padding: 16px 19px;
  }
  .date-choice__body_hide .date-choice__item .date-choice__time {
    margin-top: 4px;
  }
}
.notification__item {
  margin-top: calc(12px + 2 * (100vw - 360px) / 1560);
  display: flex;
  align-items: center;
}
.notification__item span {
  margin-left: 10px;
  font-weight: 400;
  font-size: calc(17px + 5 * (100vw - 360px) / 1560);
  line-height: 127%;
}
.notification__input {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
}
.notification__label {
  width: 24px;
  height: 24px;
  background-color: #065CC2;
  border-radius: 2px;
  opacity: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.notification__label.active {
  opacity: 1;
}

@media (max-width: 360px) {
  .notification__item:not(:first-child) {
    margin-top: 16px;
    margin-bottom: 2px;
  }
}
.recipient {
  margin-top: 30px;
}
.recipient__title {
  flex: 1 1 100%;
}
.recipient__body {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: calc(32px + 18 * (100vw - 360px) / 1560);
}
.recipient__item {
  margin-top: 14px;
  padding: 8px 19px 12px 14px;
  background-color: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  position: relative;
}
.recipient__item select {
  font-weight: 700;
  font-size: calc(17px + 5 * (100vw - 360px) / 1560);
  line-height: 127%;
  color: #333333;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  padding-top: 5px;
  cursor: pointer;
  letter-spacing: 0.13px;
  width: 100%;
  padding-right: 37px;
}
.recipient__item select::-ms-expand {
  display: none;
}
.recipient__item .mw-500 {
  max-width: 539px;
}
.recipient .fl-bas {
  flex: 0 0 287px;
}
.recipient__item.active {
  border: 2px solid blue;
  padding: 7px 18px 11px 13px;
}
.recipient__item.active .recipient__arrow {
  right: 18px;
  top: 23px;
}
.recipient__item {
  margin-right: 14px;
}
.recipient__name {
  font-weight: 400;
  font-size: calc(14px + 3 * (100vw - 360px) / 1560);
  line-height: 123.5%;
}
.recipient__arrow {
  position: absolute;
  right: 19px;
  top: 24px;
  pointer-events: none;
}
.recipient__button {
  margin-top: 14px;
  font-weight: 400;
  font-size: calc(17px + 5 * (100vw - 360px) / 1560);
  line-height: 127%;
  color: #065CC2;
  padding: 2px;
  margin: calc(9px + 3 * (100vw - 360px) / 1560) -2px -2px -2px;
}
.recipient__button br {
  display: none;
}
.recipient__button:hover, .recipient__button:focus {
  opacity: 0.5;
}
.recipient .add-recipient {
  flex: 0 0 572px;
  margin-right: 14px;
  text-align: left;
}

@media (max-width: 1570px) {
  .add-recipient {
    order: -1 !important;
    flex: 1 1 auto !important;
    text-align: right !important;
    margin-top: 0;
    margin-right: 0 !important;
    align-self: flex-end;
  }
  .add-number {
    flex: 1 1 auto;
    text-align: right;
  }
  ._item-name {
    flex: 1 1 100%;
  }
  .recipient__title {
    flex: 0 1 30% !important;
    order: -2;
  }
  .recipient__body {
    max-width: 546px;
  }
  .recipient__item {
    margin-top: 8px;
    margin-right: 0;
  }
  .recipient .mw-500 {
    padding-right: 30px;
  }
}
@media (max-width: 820px) {
  .fl-bas {
    max-width: 230px;
  }
}
@media (max-width: 400px) {
  .fl-bas {
    max-width: 210px;
  }
  .add-number {
    text-align: left;
    margin-left: 16px;
  }
  .add-number br {
    display: block;
  }
}
.bottom {
  background-color: #F8F8F8;
  border-top: 1px solid #D6D6D6;
  padding: 0 16px 0px;
}
.bottom__conteiner {
  display: flex;
  padding: 19px 0 20px 0;
}
.bottom__button-conteiner {
  flex: 1 1 1117px;
  padding-left: calc(20px + 23 * (100vw - 900px) / 1020);
}
.bottom__button {
  background: linear-gradient(0deg, #EC0002, #EC0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #D02626 99.65%), #FF0000;
  border: 1px solid #E01D1D;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  padding: 21px calc(30px + 20 * (100vw - 360px) / 1560) 19px;
  font-size: calc(17px + 12 * (100vw - 360px) / 1560);
  line-height: 128%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  height: fit-content;
}
.bottom__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-basis: 625px;
  min-width: 316px;
  padding: 0 calc(20px + 62 * (100vw - 900px) / 1020) 0 calc(20px + 32 * (100vw - 360px) / 1560);
}
.bottom__items_hide {
  display: none;
}
.bottom__item {
  font-weight: 400;
  font-size: calc(14px + 8 * (100vw - 360px) / 1560);
  line-height: 127%;
  padding: 0 10px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.bottom__summ {
  font-weight: 700;
  font-size: calc(20px + 15 * (100vw - 360px) / 1560);
  line-height: 126%;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .bottom__items {
    padding: 0 16px;
  }
  .bottom__button-conteiner {
    padding-left: 16px;
  }
}
.info {
  flex-basis: 625px;
  position: relative;
  padding-left: calc(20px + 30 * (100vw - 900px) / 1020);
  padding-right: calc(20px + 66 * (100vw - 900px) / 1020);
  border-top: 1px solid #C5C5C5;
  border-right: 1px solid #C5C5C5;
  min-width: 316px;
}
.info::before {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 1px;
  background: linear-gradient(0deg, #8C8C8C, #8C8C8C), linear-gradient(180deg, #FF8905 0%, rgba(255, 137, 5, 0) 100%), #FF4800;
}
.info__title {
  display: flex;
}
.info__title span {
  margin-left: 3px;
  font-weight: 400;
  font-size: calc(21px + 8 * (100vw - 360px) / 1560);
  line-height: 127%;
}
.info__body {
  border-bottom: 1px solid #D6D6D6;
  padding: 16px 0 20px;
}
.info__item {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}
.info__name, .info__value {
  line-height: 127%;
  font-size: calc(17px + 5 * (100vw - 360px) / 1560);
}
.info__name {
  padding-right: 5px;
  font-weight: 400;
}
.info__value {
  font-weight: 700;
}

@media (max-width: 900px) {
  .info {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 768px) {
  .info {
    display: none;
  }
  .order-page__body {
    padding: 0;
  }
  .order-page__choice {
    border: 0;
  }
  .bottom__conteiner {
    flex-direction: column;
  }
  .bottom__button-conteiner {
    padding: 0;
    margin-top: 16px;
    flex: 0 0 auto;
  }
  .bottom__items {
    display: none;
  }
  .bottom__items_hide {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: calc(14px + 8 * (100vw - 360px) / 408);
  }
  .bottom__items_hide a {
    font-weight: 500;
    color: #065CC2;
  }
  .bottom__items_hide a :hover {
    opacity: 0.5;
  }
}
@media (max-width: 472px) {
  .bottom__button-conteiner {
    width: 100%;
  }
  .bottom__button-conteiner button {
    width: 100%;
  }
}
.order-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.order-popup__conteiner {
  padding: 40px 16px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.order-popup__title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.order-popup__title span {
  font-weight: 400;
  margin-left: 3px;
  font-size: 21px;
}
.order-popup__body {
  flex: 1 1 auto;
}
.order-popup__items {
  margin-top: 14px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
}
.order-popup__items:last-child {
  margin-top: 20px;
  padding: 21px 0 20px;
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
}
.order-popup__summ {
  font-weight: 700;
}
.order-popup__footer {
  border-top: 1px solid #D6D6D6;
  padding: 16px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F8F8F8;
}
.order-popup__button {
  background-color: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
  border-radius: 4px;
  padding: 16px 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.order-popup:target {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}